 
  .footer {
    inset-block-end: 0;
    position: static;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #F2F2F2;
    color: #797979;
    text-align: left;
    padding-block: 1rem;
    padding-inline: 2.5rem;
  }
    
  .footer-section {
    float: left;
    width: 100%;
    height: 30px;
    text-align: left;
    font-weight: 500;

  
}    
.footer-section a{
  color: #444444;
  font-weight: 400;
} 
.footer-section a.active{
  color: #2196f3;
}
  .link-container{
    width: 100%;
    min-height: 130px;
    margin: 0px auto;
  }

  .copyright{
    width: 100%;
     /* text-align: center; */
     margin-top: 25px;
     border-top: 1px solid #b6b4b4;
     height: 10px;
     padding-top: 10px;
     text-align: center;
 }