footer{
    margin-left: 10px;
    background-image: url("assets/Footerimg.png");
    background-repeat: no-repeat;
    background-position: right;
    position: static;
    width: 100%;
    bottom: 0px;
}
.list{
    list-style: none;
    margin: 0px;
    padding: 0px;
    line-height: 20px;
}
ul, li, a{
    text-decoration: none;
    color: black;
    line-height: 30px;
}