.prompt {
    margin: 10px 10px 10px 10px; 
    border: 1px solid;
    border-radius: 10px 10px 10px 10px; 
    border-color: rgb(224, 221, 221);
    padding: 20px 20px 20px 20px;
    line-height: 10px;
    display:block;
    position: relative;
    top: 0px;
}
.prompt h2{
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    line-height: 1.5px;
    color: var(--secondary);
    margin-bottom: 10px;
    font-weight: 700;
}

.signup{
    color: var(--on-primary);
    background-color: var(--primary);
    width: 105px;
    height: 35px;
    border: none;
    border-radius: 3px 3px;
    margin-top: 10px;
    font-weight: bold;
}
.offer{
    display: block;
    margin-top: 20px;
}