<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet">
<!-- <link rel="stylesheet" type="text/css" href="typography.css"> -->

  <link rel="stylesheet" type="text/css" href="styles.css">
  <title>JX - Inputs</title>
</head>
<body class="px-5">
  <h1 class="text-2xl">Text input</h1>

  <section class="mt-6">
    <div class="rounded-input">
      <input type="text" placeholder="Placeholder..." id="input"/>
      <label for="input">Select input</label>
    </div>
  </section>

  <section class="mt-6">
    <div class="rounded-input">
      <select name="select" id="select-input">
        <option value="0" selected>Choose</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
      <label for="input">Select input</label>

    </div>
  </section>

  <section class="mt-6">
    <div class="rounded-input">
      <textarea name="" id="textarea" oninput="autoResize(this)"></textarea>
      <label for="textarea">Textarea Label</label>
    </div>
  </section>
  
  <script type="text/javascript">
    // document.addEventListener("DOMContentLoaded", function () {
      console.log("Js is working");
      function autoResize(element) {
        element.style.height = 'auto';
        element.style.height = (element.scrollHeight) + 'px';
      }
  

    // });
  </script>
</body>
</html>