.primary.primary{
  background-color: var(--primary-color);
  transition: var(--primary-color), border, ease-in-out .2s;
  transition-delay: .1s;
  color: #FFF;
}
.primary:hover{
  border: var(--xss) solid var(--border-color);
  background-color: hsl(var(--primary-color-h), calc(var(--primary-color-s) - var(--deem-value)), var(--primary-color-l));
}
.primary:active{
  background-color: hsl(var(--primary-color-h), var(--secondary-color-s), calc(var(--secondary-color-l) - var(--super-deem-value)));;
}

main{
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-inline: calc(100vw / 20);

}
main.auth, main.full-width{
  margin-top: 1rem;
}
@media (min-width: 850px) {
  main{
    padding-inline: calc(100vw / 10);
  }
  main.full-width, .page-lead{
    padding-inline: calc(100vw / 55);
  }
  main.auth{
    padding-inline: calc(100vw / 3.5);
  }
}
@media (min-width: 1000px) {
  main{
    padding-inline: calc(100vw / 5);
  }
  main.full-width, .page-lead{
    padding-inline: calc(100vw / 30);
  }

}
.body-section{
  margin-top: var(--w-xs);
}
.options-area{
  width: 100%;
  margin-top: var(--w-xs);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--xlg);
}
@media (max-width: 500px) {
  .options-area{
    flex-direction: column;
  }
}

.options-area select{
  max-width: 100%;
}
.options-area .rounded-input{
  flex: 1;
}


/* NAVbar */
header{
  z-index: 20;
  width: 100%;
}
@media(max-width: 321px){
  header{
    position: relative !important;
  }
}
nav.nav{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: .5rem;
  align-items: center;
  padding: 0.625rem 1.25rem;
  background-color:  #FFF;
  
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
  }
nav .brand{
  font-size: 40px;
  font-weight: 700;
  flex-grow: 0.5;
}
@media(max-width: 574px){
  nav .brand{
    text-align: center;
  }
}
nav .search{
  flex-grow: 2;

  display: flex;
  width: 9.8125rem;
  max-height: 2.8125rem;
  padding: 1rem 1.25rem;
  align-items: center;
  gap: .1rem;
  border-radius: 3.125rem;
  border: 0.5px solid var(--grey, #9F9F9F)
  
}
nav .search .fa{
  color: #0B6FB7;
}
nav .search input{
  background-color: transparent;
}
nav .search input:focus{
  outline: none;
}


nav .links{
  flex-grow: 2;
  /* text-align: right; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  gap: 1.4rem;
}
@media(max-width: 574px){
  nav .links{
    justify-content: center;
  }
}
nav .links .link{
  font-family: inherit;
  color: #9F9F9F;
}
.primary-btn{
  padding: 1rem 1.25rem;
  border-radius: 3.125rem;
  background: #0B6FB7;
  color: #fff;
}
.tetiary-btn{
  padding: 1rem 1rem;
  border-radius: 3.125rem;
  background: #FFF;
  color: #010B13;
  font-weight: 600;
  font-size: 0.9em;
  
}
.tetiary-btn-variant{
  padding: .5rem 1.25rem;
  border-radius: 3.125rem;
  background: #FFF;
  color: #010B13;
  font-weight: 600;
  font-size: 0.9em;
  border: 0.5px solid #9F9F9F;
  
}

/* TABS */

/* PART #3 TABS */
.nav-tabs {
  padding-block: 1em;
  max-width: 45rem;
  margin-top: 1rem;
}

@media (max-width: 765px) {
  .nav-tabs {
    overflow-x: scroll;
    /* padding: 2em; */
  }
}

.tabs {
  display: flex;
  gap: 2em;
  border-bottom: 1px solid var(--surface-color);

}

.tabs a {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-inline: 1em;
  padding-block: .5em;
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
  transition: color 0.4s;
  transition-delay: .1s;
  text-wrap: nowrap;

}
.tabs a:hover {
  color: #fff;

}
.tabs a.active {
  background-color: var(--secondary-color);
  color: #FFF !important;

}

.side-by-side{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--xlg);
  align-items: center;
}
.side-by-side div{
  flex: 1fr;
}
a{
  color: var(--highlight-color) !important;
}
a:hover{
  text-decoration: underline;
}

.btn{
  width: 10rem;
  max-width: 12rem;
  height: 58px;
  text-align: center;
  border-radius: var(--w-xs);
  display: flex;
  justify-content: center;
  gap: .8rem;
  align-items: center;
  padding-inline: 1rem;
  
}


.section-decription{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.section-decription .fa{
  color: #2DC300;
}

/* podcast section */
.podcast-section, .news-section{
  display: grid;
  grid-auto-flow: dense;
  gap: 1.2rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 180px), 1fr));
}
.podcast-section .podcast-card{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
}
.podcast-section .podcast-card .bg-image{
  height: 6.1875rem;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 0.625rem;

}

.podcast-section .podcast-card .label{
  width: fit-content;
  color: #fff;
  position: absolute;
  bottom: 0;
  background-color: #0388A6;
  padding: 0.2rem 1rem;
  border-radius: 0 0.925rem 0 0.625rem;
}
.podcast-section .podcast-card .label a{
  color: #FFF !important;
}
.podcast-section .podcast-card .label a:hover{
  text-decoration: none;
}
.podcast-section .podcast-card .label:hover{
  background-color: var(--secondary-color);
}

.news-section .news-card{
  display: flex;
  flex-direction: column;
  gap: .5rem;
 
}
.news-section .news-card .article-heading{
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  color: var(--text-color);
  text-decoration: underline;
  text-decoration-color: var(--helper-text-color);
}
.news-section .news-card .article-heading:hover{
  color: var(--highlight-color);
  text-decoration-color: var(--highlight-color);
}
.news-section .news-card .bg-image{
  height: 8.25rem;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 0.625rem;
}
.news-section .news-card .meta-data{
  color: #666;
  margin-top: .5rem;
}
.news-section .news-card .meta-data a{
  color: #0B6FB7;
}

/* Footer */


/* footer */
.footer-row{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 180px), 1fr));
  grid-gap: 2rem; /* Gap between grid items */
  padding-bottom: 8rem;
  background-color: var(--primary-color);
  color: #FFF;
  padding: 2em;
}
.footer-row a{
  color: #FFF !important;
}
.footer-row p{
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}
.footer-row h3{
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
}
.socials{
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Two columns with equal width */
  grid-gap: .2rem; /* Gap between grid items */
  text-align: center;
}
.primary-darker{
  background-color: hsl(var(--primary-color-h), calc(var(--primary-color-s) - var(--deem-value)), calc(var(--primary-color-l) - var(--deem-value)));
  color: #fff;
}