.primary.primary{
  background-color: var(--primary-color);
  transition: var(--primary-color), border, ease-in-out .2s;
  transition-delay: .1s;
  color: #FFF;
}
.primary:hover{
  border: var(--xss) solid var(--border-color);
  background-color: hsl(var(--primary-color-h), calc(var(--primary-color-s) - var(--deem-value)), var(--primary-color-l));
}
.primary:active{
  background-color: hsl(var(--primary-color-h), var(--secondary-color-s), calc(var(--secondary-color-l) - var(--super-deem-value)));;
}

main{
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-inline: calc(100vw / 20);

}
main.auth{
  margin-top: 2rem;
}
@media (min-width: 850px) {
  main{
    padding-inline: calc(100vw / 10);
  }
  main.auth{
    padding-inline: calc(100vw / 3.5);
  }
}
@media (min-width: 1000px) {
  main{
    padding-inline: calc(100vw / 5);
  }

}
.body-section{
  margin-top: var(--w-xs);
}
.options-area{
  width: 100%;
  margin-top: var(--w-xs);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--xlg);
}
@media (max-width: 500px) {
  .options-area{
    flex-direction: column;
  }
}

.options-area select{
  max-width: 100%;
}
.options-area .rounded-input{
  flex: 1;
}


/* NAVbar */
nav.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 1.25rem;
  background: var(--white, #FFF);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
  }
nav .brand{
  font-size: 40px;
  font-weight: 700;
  flex-grow: 1.5;
}
nav .search{
  flex-grow: 3;

  display: flex;
  width: 29.8125rem;
  max-height: 2.8125rem;
  padding: 1rem 1.25rem;
  align-items: center;
  gap: .1rem;
  border-radius: 3.125rem;
  border: 0.5px solid var(--grey, #9F9F9F)
  
}
nav .search .fa{
  color: #0B6FB7;
}
nav .search input{
  background-color: transparent;
}


nav .links{
  flex-grow: 2;
  /* text-align: right; */
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2.6rem;

  

}
nav .links .link{
  font-family: inherit;
  color: #9F9F9F;
}
.primary-btn{
  padding: 1rem 1.25rem;
  border-radius: 3.125rem;
  background: #0B6FB7;
  color: #fff;
}
.tetiary-btn{
  padding: 1rem 1rem;
  border-radius: 3.125rem;
  background: #FFF;
  color: #010B13;
  font-weight: 600;
  font-size: 0.9em;
  
}
.tetiary-btn-variant{
  padding: .5rem 1.25rem;
  border-radius: 3.125rem;
  background: #FFF;
  color: #010B13;
  font-weight: 600;
  font-size: 0.9em;
  border: 0.5px solid #9F9F9F;
  
}

/* TABS */

/* PART #3 TABS */
.nav-tabs {
  padding-block: 1em;
  max-width: 45rem;
  margin-top: 1rem;
}

@media (max-width: 765px) {
  .nav-tabs {
    overflow-x: scroll;
    /* padding: 2em; */
  }
}

.tabs {
  display: flex;
  gap: 2em;
  border-bottom: 1px solid var(--surface-color);

}

.tabs a {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-inline: 1em;
  padding-block: .5em;
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
  transition: color 0.4s;
  transition-delay: .1s;
  text-wrap: nowrap;

}
.tabs a:hover {
  color: #fff;

}
.tabs a.active {
  background-color: var(--secondary-color);
  color: #FFF !important;

}

.side-by-side{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--xlg);
  align-items: center;
}
.side-by-side div{
  flex: 1fr;
}
a{
  color: var(--highlight-color) !important;
}
a:hover{
  text-decoration: underline;
}

.btn{
  width: 10rem;
  max-width: 12rem;
  height: 58px;
  text-align: center;
  border-radius: var(--w-xs);
  display: flex;
  justify-content: center;
  gap: .8rem;
  align-items: center;
  padding-inline: 1rem;
  
}
