.primary.primary {
  background-color: var(--primary-color);
  transition: var(--primary-color), border, ease-in-out .2s;
  transition-delay: .1s;
  color: #FFF;
}

.primary:hover {
  border: var(--xss) solid var(--border-color);
  background-color: hsl(var(--primary-color-h), calc(var(--primary-color-s) - var(--deem-value)), var(--primary-color-l));
}

.primary:active {
  background-color: hsl(var(--primary-color-h), var(--secondary-color-s), calc(var(--secondary-color-l) - var(--super-deem-value)));
  ;
}

button {
  cursor: pointer;
}

main {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-inline: calc(100vw / 20);

}
main.auth {
  margin-top: 1rem;
}


main.full-width {
  margin-top: 4rem;
}
@media (min-width: 450px) {
  main.auth form{
    border: 1px solid var(--border-color);
    padding: var(--xlg);
    border-radius: var(--md);
    background-color: var(--surface-color);
  }
}


@media (min-width: 600px) {
  main {
    padding-inline: calc(100vw / 10);
  }

  main.full-width,
  .page-lead {
    padding-inline: calc(100vw / 55);
  }

  main.auth {
    margin-top: 2rem;
    padding-inline: calc(100vw / 5);
  }
}

@media (min-width: 850px) {
  main {
    padding-inline: calc(100vw / 10);
  }

  main.full-width,
  .page-lead {
    padding-inline: calc(100vw / 55);
  }

  main.auth {
    margin-top: 3rem;
    padding-inline: calc(100vw / 3.4);
  }
}

@media (min-width: 1000px) {
  main {
    padding-inline: calc(100vw / 5);
  }

  main.full-width,
  .page-lead {
    padding-inline: calc(100vw / 30);
  }
  main.auth {
    padding-inline: calc(100vw / 3);
  }

}

.body-section {
  margin-top: var(--w-xs);
}

.options-area {
  width: 100%;
  margin-top: var(--w-xs);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--xlg);
}

@media (max-width: 500px) {
  .options-area {
    flex-direction: column;
  }
}

.options-area select {
  max-width: 100%;
}

.options-area .rounded-input {
  flex: 1;
}


/* NAVbar */
header {
  z-index: 20;
  width: 100%;
  top: 0;
}

@media(max-width: 321px) {
  header {
    position: relative !important;
  }
}

nav.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: .5rem;
  align-items: center;
  padding: 0.625rem 1.25rem;
  background-color: #FFF;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

nav .brand {
  font-size: 40px;
  font-weight: 700;
  flex-grow: 0;
}

@media (max-width: 360px){
  nav.nav{
    justify-content: center;
  }
}
nav .search {
  flex-grow: 2;

  display: flex;
  width: 9.8125rem;
  max-width: 30rem;
  max-height: 2.8125rem;
  padding: 1rem 1.25rem;
  align-items: center;
  gap: .1rem;
  border-radius: 3.125rem;
  border: 0.5px solid var(--grey, #9F9F9F)
}

nav .search .fa {
  color: #0B6FB7;
}

nav .search input {
  background-color: transparent;
}

nav .search input:focus {
  outline: none;
}
nav .links{
  display: flex;
  flex-direction: row;
  gap: 1rem;

}
@media (max-width: 708px){
  nav .links{
    justify-content: space-between;
    width: 100%;

  }
}
nav .links .link {
  font-family: inherit;
  color: var(--border-color);
  padding-right: 10px;
  padding-left: 10px;
}

nav .links .link:last-child {
  border-right: none;
  border-left: 1px solid #ccc;
  color: var(--error-color);

}
nav .links .active {
  color: var(--primary-color) !important;
}



.primary-btn {
  padding: 1rem 1.25rem;
  border-radius: 3.125rem;
  background: #0B6FB7;
  color: #fff;
}

.tetiary-btn {
  padding: 1rem 1rem;
  border-radius: 3.125rem;
  background: #FFF;
  color: #010B13;
  font-weight: 600;
  font-size: 0.9em;

}

.tetiary-btn-variant {
  padding: .5rem 1.25rem;
  border-radius: 3.125rem;
  background: #FFF;
  color: #010B13;
  font-weight: 600;
  font-size: 0.9em;
  border: 0.5px solid #9F9F9F;

}

/* TABS */

/* PART #3 TABS */
.nav-tabs {
  padding-block: 1em;
  max-width: 45rem;
  margin-top: 1rem;
}

@media (max-width: 765px) {
  .nav-tabs {
    overflow-x: scroll;
    /* padding: 2em; */
  }
}

.tabs {
  display: flex;
  gap: 2em;
  border-bottom: 1px solid var(--surface-color);

}

.tabs a {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-inline: 1em;
  padding-block: .5em;
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
  transition: color 0.4s;
  transition-delay: .1s;
  text-wrap: nowrap;

}

.tabs a:hover {
  color: #fff;

}

.tabs a.active {
  background-color: var(--secondary-color);
  color: #FFF !important;

}

.side-by-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--xlg);
  align-items: center;
}

.side-by-side div {
  flex: 1fr;
}

a,a {
  color: var(--highlight-color);
}

a:hover {
  text-decoration: underline;
}

.btn {
  width: 10rem;
  max-width: 12rem;
  height: 45px;
  text-align: center;
  border-radius: var(--w-xs);
  display: flex;
  justify-content: center;
  gap: .8rem;
  align-items: center;
  padding-inline: .7rem;

}


.section-decription {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.section-decription .fa {
  color: #2DC300;
}

/* podcast section */
.podcast-section,
.news-section {
  display: grid;
  grid-auto-flow: dense;
  gap: 1.2rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
}

.podcast-section .podcast-card {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
}

.podcast-section .podcast-card .bg-image {
  height: 9rem;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 0.625rem;

}

.podcast-section .podcast-card .label {
  width: fit-content;
  color: #fff;
  position: absolute;
  bottom: 0;
  background-color: #0388A6;
  padding: 0.2rem 1rem;
  border-radius: 0 0.925rem 0 0.625rem;
}

.podcast-section .podcast-card .label a {
  color: #FFF !important;
}

.podcast-section .podcast-card .label a:hover {
  text-decoration: none;
}

.podcast-section .podcast-card .label:hover {
  background-color: var(--secondary-color);
}

.news-section .news-card {
  display: flex;
  flex-direction: column;
  gap: .5rem;

}

.news-section .news-card .article-heading {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  color: var(--text-color);
  text-decoration: underline;
  text-decoration-color: var(--helper-text-color);
}

.news-section .news-card .article-heading:hover {
  color: var(--highlight-color);
  text-decoration-color: var(--highlight-color);
}

.news-section .news-card .bg-image {
  height: 10rem;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 0.625rem;
}

.news-section .news-card .meta-data {
  color: #666;
  margin-top: .5rem;
}

.news-section .news-card .meta-data a {
  color: #0B6FB7;
}

/* Footer */


/* footer */
.footer-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 180px), 1fr));
  grid-gap: 2rem;
  /* Gap between grid items */
  padding-bottom: 8rem;
  background-color: var(--primary-color);
  color: #FFF;
  padding: 2em;
}

.footer-row a {
  color: #FFF !important;
}

.footer-row p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

.footer-row h3 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
}

.socials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* Two columns with equal width */
  grid-gap: .2rem;
  /* Gap between grid items */
  text-align: center;
}

.primary-darker {
  background-color: hsl(var(--primary-color-h), calc(var(--primary-color-s) - var(--deem-value)), calc(var(--primary-color-l) - var(--deem-value)));
  color: #fff;
}


.view-content {
  display: flex;
  flex-direction: row;
  gap: var(--w-xs);
  justify-content: space-between;
  align-items: stretch;
  /* flex-wrap: wrap; */

}

@media (max-width: 1000px) {
  .view-content {
    flex-direction: column;
  }
}

.view-content .main-content,
.view-content .side-content {
  /* height: 50vh; */
  /* border: 1px solid #010B13; */
}

.view-content .main-content {
  /* background-color: #131313; */
  flex-grow: 1;
}

.view-content .side-content {
  /* background-color: #2DC300; */
  flex-shrink: 2;
  min-width: 16rem;
  /* max-width: 38vw; */
}
@media (min-width: 1000px) {
  .view-content .side-content {
    max-width: 38vw;
  }
}
.main-content {
  display: flex;
  flex-direction: column;
  gap: var(--xlg);
}

.main-content div {
  min-height: 2em;
}

.main-content img.article-image {
  width: 100%;
  height: 40vw;
  object-fit: cover;

}

@media (min-width: 1000px) {
  .main-content img.article-image {
    height: 25vw;
  }
}

.main-content #donate {
  width: 6em;

}

.main-content .article {
  padding-inline: var(--w-xs);
}

.main-content .action-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: .5em; */
  border-radius: var(--md);
  border-radius: 0.625rem;
  background: #E7E7E7;
  padding-inline: 1rem;
  padding-top: 0.625rem;
  padding-bottom: 0.325rem;
}

.main-content .action-bar .btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
}

.main-content .action-bar button i {
  color: var(--highlight-color);
}

.main-content .action-bar .sector-1,
.comment .comment-container .comment-action-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  gap: var(--xlg);
}

.main-content .action-bar .sector-2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-grow: 2;
  gap: var(--xlg);

  justify-content: flex-end;
}

.main-content .comments {
  max-width: 40rem;
}

.comment {
  display: flex;
  flex-direction: row;
  gap: var(--lg);
  align-items: start;
  justify-content: flex-start;
}

.comment i {
  color: var(--helper-text-color);
}

.comment .comment-profile-photo, .comment-box img {
  width: var(--w-xs);
  min-width: var(--w-xs);
  height: var(--w-xs);
  object-fit: cover;
  border-radius: 2.5rem;
  border: 0.5px solid var(--helper-text-color);
}

.comment .comment-container .comment-header-container {
  display: flex;
  flex-direction: row;
  gap: var(--lg);
  color: var(--helper-text-color);
}
.comment-box{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--lg);
  align-items: center;
  margin-bottom: var(--w-xs);
}
.comment-box .rounded-input{
  min-width: 45vw;
}
.comment-box .btn{
  width: 4rem;
}



/* Author details */
.author-details {
  padding-top: var(--w-xss);
  border-top: 0.03125rem solid #8d8d8d;
  width: 100%;
}

.author-details .author-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author-details .author-details-header .author-detials-header-information {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.author-details .author-details-header .author-detials-header-information .author-details-name {
  font-size: var(--lg);
  color: var(--helper-text-color);
}

.author-details .author-details-header .author-detials-header-information img {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 3.125rem;
  object-fit: cover;
}
.btn {
  display: flex;
  padding: 0.225rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 3.125rem;
}
.btn.primary-btn{
  background-color: var(--primary-color);
}
.btn.outline-btn{
  color: var(--error-color);
  border: 0.1px solid #9F9F9F;
}

.author-details .author-details-header .author-details-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
@media (max-width: 800px){
  .author-details .author-details-header .author-details-actions .btn{
    width: 3rem;
    height: 3rem;
    font-size: var(--lg);
  }
  .author-details .author-details-header .author-details-actions .text{
    display: none;
  }

  
}


/* Banner */
.banner{
  margin: 0 auto;
  min-height: 18.9375rem;
  border-radius: 0.625rem;
  background: var(--primary, #0B6FB7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 6rem;
  color: #FFF;

}
@media (max-width: 800px){
  .banner{
    padding-inline: 2rem;
    flex-wrap: wrap-reverse;
    padding-block: 2rem;
  }
}
.banner .banner-first-content{
  display: flex;
  flex-direction: column;
}
.banner h1{
  margin-bottom: .62rem;
}

.banner p{
  max-width: 38rem;
  margin-bottom: 1.5rem;
}
.banner img{
  width: 15.25rem;
  opacity: .6;
}
/* .btn{
  padding: 0.625rem 1.5625rem;
  font-size: 0.875rem;
} */

/* headline section */
.headline-section{
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 3.2rem;
  flex-wrap: wrap;
}
.headline-section .bg-image{
  height: 20rem;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 0.625rem;
  flex-grow: 4;
  min-width: 20rem;
}

.headline-section .content{
  flex-grow: 1;
  max-width: 40rem;
  /* display: flex;
  justify-content: start; */
  
}
.headline-section .content h2 a{
  font-size: 2.875rem;
  font-size: 900;    
  color: var(--text-color) !important;
  text-decoration: none;
}
.headline-section .content p{
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}
.headline-section .bg-image .label{
  width: fit-content;
  color: #fff;
  position: absolute;
  background-color: var(--highlight-color);

  bottom: 0;
  border-radius: 0 0.925rem 0 0.625rem;
}
.headline-section .meta-data{
  color: #666;
}
.headline-section .meta-data a{
  color: #0B6FB7;
}

/* Notifications */

.notifications-container{
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 8rem;
  padding-inline: 2vw;
}
.notifications-container h1{
  margin:0 auto;
  width: 100%;
   max-width: 35rem;
   margin-bottom: 1rem;
}
.Notificationcard{
  padding: 1rem;
  border-radius: var(--md);
}
.Notificationcard .discription{
  padding: 10px; 
  display: flex;
  justify-content: space-between;

}
.unread.unread{
  font-weight: bold;
  border: 1px solid var(--highlight-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
.Notificationcard {
  width: 100%;
  max-width: 35rem;
  border-radius: var(--md);
  background-color: var(--surface-color);
  padding: 10px;
  margin: 0 auto;
  padding-block: 1rem;
  box-shadow: none;


  margin-bottom: 10px;

}
.notif-time{
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.462px;
  /* margin-left: 100px; */
  text-align: right;
  color: var(--helper-text-color);
  padding-inline: var(--md);
  
}

.auth-providers{
  margin-top: var(--w-xss);
}
.auth-providers .header{
  color: var(--helper-text-color);
}
.auth-providers img{
  cursor: pointer;
}
.auth-providers .auth-providers-list{
  margin-top: var(--w-xss);
}
.auth-providers .auth-providers-list .auth-btn{
  width: 15rem;
  max-width: 16rem;
  border: 0.5px solid var(--border-color);
}
.auth-providers .auth-providers-list .auth-btn:hover{
  background-color: #eeeeee;
}
.auth-providers .auth-providers-list .auth-btn:active{
  background-color: var(--highlight-color);
  color: #FFF;
}



.disabled-form {
  pointer-events: none;
  opacity: 0.6; /* You can adjust the opacity to visually indicate the disabled state */
}