.card {
  margin-bottom: 1rem;
}

.card.active {
  background-color: var(--bs-blue) !important;
  color: var(--bs-body-bg);
}



.col-md-4 {
  margin-bottom: 1rem;
}

.hidden{
  display: none;
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1rem;}
}

/* The element to apply the animation to */
.animate {
  animation: backInRight 0.8s;
  animation-timing-function: ease-out;
  
} 
