google cloud spcae
/* Color Theme Swatches in Hex */
.Google-Cloud-Space-1-hex { color: #154EBF; }
.Google-Cloud-Space-2-hex { color: #4B94F2; }
.Google-Cloud-Space-3-hex { color: #A0C4F2; }
.Google-Cloud-Space-4-hex { color: #F2DB66; }
.Google-Cloud-Space-5-hex { color: #F2BF5E; }

ai powered alytics
/* Color Theme Swatches in Hex */
.Tellius---AI-Powered-Analytics-Platform-1-hex { color: #0554F2; }
.Tellius---AI-Powered-Analytics-Platform-2-hex { color: #076DF2; }
.Tellius---AI-Powered-Analytics-Platform-3-hex { color: #139DF2; }
.Tellius---AI-Powered-Analytics-Platform-4-hex { color: #16B4F2; }
.Tellius---AI-Powered-Analytics-Platform-5-hex { color: #F29F05; }



/* Color Theme Swatches in Hex */
.Computer-Shows-Programming-in-Progress.-In-The-Background-Technologically-Advanced-Scientific-Center{ color: #021859; }
.Computer-Shows-Programming-in-Progress.-In-The-Background-Technologically-Advanced-Scientific-Center{ color: #091926; }
.Computer-Shows-Programming-in-Progress.-In-The-Background-Technologically-Advanced-Scientific-Center { color: #348ABF; }
.Computer-Shows-Programming-in-Progress.-In-The-Background-Technologically-Advanced-Scientific-Center { color: #456173; }
.Computer-Shows-Programming-in-Progress.-In-The-Background-Technologically-Advanced-Scientific-Center { color: #F27C38; }